* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #e0e0e0;
	color: #1d1d1d;
}

header {
    display: flex;  
    border: 2px solid blue;
    height: 100px;
    border: 2px solid rgb(20, 5, 80);
    background-color: rgb(193, 185, 229);
}

.pokelogo {
    height: 80px;
    margin-top: 0.5%;
    margin-left: 5%;
}

.menu {
    display: flex;
    padding-top: 3%;
    list-style:none;
    padding-top: 2.5%;
    font-size: 25px;
    margin-left: 5%;
    gap: 90px;
}

.menu li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu li:hover {
    text-decoration: underline;
}

#pokeList {
	display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 4% 2%; 
  grid-template-areas: 
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."; 
  justify-items: stretch; 
  align-items: stretch; 
  width: 80%; 
  height: 74%; 
  margin: 5% 5% 27% 15%;

}

#pokecard {
    display: flex;
    flex-direction: column;
}

#image { 
    width: 200px;
    height: 150px;
}

.likes { 
    width: 200px;
    height: 30px;
}

.comments {
    margin-top: 2%;
    width: 200px;
    height: 30px;
}

.reserve { 
    width: 200px;
    height: 30px;
    margin-top: 2%;
}

.footer {
    border: 2px solid gray;
    height:  100px;
    margin-top: 5%;
    border: 2px solid rgb(20, 5, 80);
    background-color: rgb(193, 185, 229);
    
}

.footer p {
    padding-top: 2.5%;
    font-size: 25px;
    margin-left: 5%;
}

.modal {
  position: fixed;
  z-index: 1;
  justify-content: center;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-y: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card-preview-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
