@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: url(./images/background-poke.PNG);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  height: 100vh;
}

header {
  display: flex;
  height: 100px;
  border: 2px solid rgb(20, 5, 80);
  background-color: rgb(146, 176, 191);
}

.pokelogo {
  height: 80px;
  margin-top: 0.5%;
  margin-left: 5%;
}

.menu {
  display: flex;
  list-style: none;
  padding-top: 2.5%;
  font-size: 25px;
  margin-left: 5%;
  gap: 90px;
}

.menu li {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.menu li:hover {
  text-decoration: 4px solid underline;
}

#pokeList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2% 2%;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
  justify-items: stretch;
  align-items: stretch;
  width: 80%;
  height: 74%;
  margin: 2% 2% 10% 10%;
}

.pokecard {
  display: flex;
  flex-direction: column;
  background: url(./images/card.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 11%;
  margin-top: 25%;
  padding-left: 20%;
  padding-top: 4%;
  padding-bottom: 5%;
  font-weight: 700;
  font-size: 22px;
}

#image {
  width: 200px;
  height: 150px;
}

.likes {
  width: 150px;
  height: 27px;
  font-size: 15px;
  background-image: url(./images/icons8-facebook-like-30.png);
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: center;
  border: none;
  margin-top: 2%;
  padding-left: 10%;
}

.comments {
  margin-top: 2%;
  width: 150px;
  height: 27px;
  border: none;
}

.reserve {
  width: 150px;
  height: 27px;
  margin-top: 2%;
  border: none;
}

.likes:hover,
.comments:hover,
.reserve:hover {
  border: 2px solid #1d1d1d;
}

.likes:active,
.comments:active,
.reserve:active {
  border: 4px solid #a6b0c5;
}

.footer {
  height: 100px;
  margin-top: 115%;
  border: 2px solid rgb(20, 5, 80);
  background-color: rgb(146, 176, 191);
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.footer p {
  padding-top: 2.5%;
  font-size: 25px;
  margin-left: 5%;
}

.modal {
  position: fixed;
  z-index: 1;
  justify-content: center;
  left: 0;
  bottom: 0;
  top: 0;
  width: 50%;
  height: 160%;
  margin-top: 20%;
  margin-left: 20%;
  background-image: url(./images/popupcoment.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.work-title-preview {
  font-family: 'Press Start 2P', cursive;
  color: rgb(50, 99, 124);
  font-size: 25px;
  padding-top: 10%;
  padding-left: 37%

}
.article-img {
  width: 500px;
  height: 350px;
  margin-top: 10%;
  padding-left: 20%;
}

.article-sub-title {
  margin-top: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'Press Start 2P', cursive;
  font-weight: 200;
  color: rgb(47, 19, 40);
  height: 150px;
  overflow-y:scroll;
  border: 2px solid rgb(173, 177, 146);
  background-color: rgba(94, 214, 128, 0.6);
}

.comments-container {
  margin-top: 10%;
color: rgb(47, 19, 40);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 12px;
border: 2px solid rgb(173, 177, 146);
background-color: rgba(94, 214, 128, 0.4);

}

.formDiv {
  margin-top: 10%;
}
.modal-content {
  
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card-preview-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
